<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>City:</b>
  <%= city %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Country:</b>
  <%= country %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>


<a href="#/index">Back</a>