<td><%= name %></td>
<td><%= city %></td>
<td><%= state %></td>
<td><%= country %></td>
<td><%= created_at %></td>
<td><%= updated_at %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>