<h1>New wine</h1>

<form id="new-wine" name="wine">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="year"> year:</label>
    <input type="text" name="year" id="year" value=<%= year %> >
  </div>

  <div class="field">
    <label for="family"> family:</label>
    <input type="text" name="family" id="family" value=<%= family %> >
  </div>

  <div class="field">
    <label for="winery_id"> winery_id:</label>
    <input type="text" name="winery_id" id="winery_id" value=<%= winery_id %> >
  </div>

  <div class="field">
    <label for="created_at"> created_at:</label>
    <input type="text" name="created_at" id="created_at" value=<%= created_at %> >
  </div>

  <div class="field">
    <label for="updated_at"> updated_at:</label>
    <input type="text" name="updated_at" id="updated_at" value=<%= updated_at %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Wine" />
  </div>

</form>

<a href="#/index">Back</a>