<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Year:</b>
  <%= year %>
</p>

<p>
  <b>Family:</b>
  <%= family %>
</p>

<p>
  <b>Winery:</b>
  <%= winery_id %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>


<a href="#/index">Back</a>