<td><%= name %></td>
<td><%= year %></td>
<td><%= family %></td>
<td><%= winery_id %></td>
<td><%= created_at %></td>
<td><%= updated_at %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>